<?xml version="1.0"?>

<configuration>
<!-- Connectiong the database to the contact page using login and password -->
  <connectionStrings>
    <add name="ContactPage" connectionString="Server=localhost\sqldev01;Database=ContactPage;User Id=sams; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
